@charset "UTF-8";



html {
    font-size: calc(10 * 100vw / 390);
}

@media (min-width:768px) {
html {
    font-size: calc(10 * 100vw / 1030);
}
}

@media (min-width: 1030px) {
html {
    font-size: 62.5%; }
}

body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.75;
    color: #333;
    padding-top: 6rem;
}

@media (min-width: 768px) {
    body {
    font-size: 1.6rem;
    padding-top: 9.2rem;
    }
}

a {
    text-decoration: none;
    color: #333;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* ヘッダー */
.header-container {
    top: 0;
    display: flex;
    align-items: center;
    height: 6rem;
    width: 100%;
    margin-inline: auto;
    background-color: #fff;
    position: fixed;
    z-index: 10000;
    padding: 1.2rem;
}
@media (min-width: 768px) {
    .header-container {
        height: 9.2rem;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        position: fixed;
        margin-inline: auto;
    }
}
.header__logo {
    width: 7.2rem;
}
@media (min-width: 768px) {
    .header__logo {
        width: 9.7rem;
        padding-top: .1rem;
        margin-left: .3rem;
    }
}
.header__logo img {
    width: 100%;
}
.button__contact,
.button__reservation {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1.55rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}
@media (min-width: 768px) {
    .button__contact,
    .button__reservation {
        border-radius: 2.518rem;
        font-size: 2rem;
    }
}
.button__contact {
    width: 10.7rem;
    height: 3.1rem;
    background-color: #fa7da3;
    margin: 0 .9rem 0 .8rem;
}
@media (min-width: 768px) {
    .button__contact {
        width: 18.91rem;
        height: 5.036rem;
        margin: 0 2.1rem 0 42.2rem;
        padding-left: .6rem;
    }
}
.button__reservation {
    width: 17.377rem;
    height: 3.1rem;
    background-color: #49c43d;
    letter-spacing: .048rem;
    padding-left: .1rem;
}
@media (min-width: 768px) {
    .button__reservation {
        width: 29.549rem;
        height: 5.036rem;
        padding-left: .6rem;
    }
}
.button__reservation span {
    font-size: 1rem;
    letter-spacing: .04rem;
}
@media (min-width: 768px) {
    .button__reservation span {
        font-size: 1.787rem;
        letter-spacing: 0;
    }
}
.button__contact  img {
    height: 1rem;
    padding-left: 1rem;
}
.button__reservation img {
    height: 1rem;
    padding-left: .6rem;
}
@media (min-width: 768px) {
    .button__contact img,
    .button__reservation img {
        height: 1.6rem;
        padding-left: 1.3rem;
    }
}
/* カバー */
.cover {
    background-color: #fa7da3;
    width: 100%;
    margin-inline: auto;
}
.cover-container {
    display: flex;
    flex-direction: row;
    height: 31.4rem;
}
@media (min-width: 768px) {
    .cover-container {
        max-width: 103rem;
        height: 61.2rem;
        margin-inline: auto;
    }
}
.cover__container--left {
    width: 20.2rem;
}
@media (min-width: 768px) {
    .cover__container--left {
        width: 56.8rem;
    }
}
.cover__container--right {
    width: 22.1rem;
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .cover__container--right {
        width: 47.9rem;
    }
}
.cover__visual {
    width: 20.9rem;
    height: auto;
    position: absolute;
    vertical-align: bottom;
    top: 15.7rem;
    margin-left: .4rem;
}
@media (min-width: 768px) {
    .cover__visual {
        width: 48.6rem;
        top: 20rem;
        margin-left: .1rem;
    }
}
.cover__visual img {
    width: 100%;
}
.cover__title {
    width: 16.4rem;
    margin: 2.2rem 0 0 2rem;
}
@media (min-width: 768px) {
    .cover__title {
        width: 54.1rem;
        z-index: 1000;
        position: absolute;
        margin-top: -.2rem;
    }
}
.cover__title img {
    width: 100%;
}
@media (min-width: 768px) {
    .cover__title img {
        width: 100%;
    }
}
.cover-subtitle__wrap {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255,.302);
    box-shadow: .3536rem .3536rem 0rem 0rem rgba(0, 0, 0, 0.0755);
    width: 18.8rem;
    height: 10.7rem;
    margin-left: auto;
}
@media (min-width: 768px) {
    .cover-subtitle__wrap {
        width: 42.3rem;
        height: 22.2rem;
        margin-left: 1.7rem;
        padding-bottom: 3.7rem;
    }
}
.cover-subtitle__item-first {
    width: 4.7rem;
    height: 2.3rem;
    background-color: #fff;
    color: #fa7da3;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 2.4rem 0 0 2.7rem;
    text-align: center;
    border: none;
}
@media(min-width: 768px) {
    .cover-subtitle__item-first {
        width: 10.576rem;
        height: 5.165rem;
        font-size: 2.925rem;
        margin: 4.3rem 0 0 5.8rem;
    }
}
.cover-subtitle__item-second {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    margin-top: -.1rem;
    margin-left: 2.7rem;
}
@media (min-width: 768px) {
    .cover-subtitle__item-second {
        font-size: 5.4rem;
        line-height: 1;
        margin: 2.1rem 0 0 6rem;
    }
}
.cover-subtitle__item-third {
    font-size: 7.6rem;
    font-weight: 700;
    color: #fffd7a;
    line-height: 1;
    margin: .9rem 0 0 1.1rem;
}
@media (min-width: 768px) {
    .cover-subtitle__item-third {
        font-size: 17rem;
        line-height: 1;
        margin: 1.2rem 0 0 2.1rem;
    }
}
.cover-subtitle__item-third span {
    font-size: 3.6rem;
    font-weight: 700;
    color: #fffd7a;
    line-height: 1;
}
@media (min-width: 768px) {
    .cover-subtitle__item-third span {
        font-size: 8.1rem;
    }
}
.cover-service__wrap {
    margin-top: .3rem;
    text-align: right;
}
@media (min-width: 768px) {
    .cover-service__wrap {
        margin: .8rem 0 0 -.1rem;
    }
}
.cover-service__item-price {
    font-family: Outfit;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    text-align: right;
    padding: 0 2.6rem .8rem 0;
}
@media (min-width: 768px) {
    .cover-service__item-price {
        font-size: 2.6rem;
        margin: -.8rem 6.7rem 0 0;
    }
}
.cover-service__item-price span {
    font-size: .9rem;
}
@media (min-width: 768px) {
    .cover-service__item-price span {
        font-size: 1.702rem;
    }
}
ul.cover-service__item-list {
    text-align: right;
}
@media (min-width: 768px) {
    ul.cover-service__item-list {
        margin-top: 3.4rem;
    }
}
ul.cover-service__item-list li{
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    width: 13.3rem;
    height: 3.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    list-style: none;
    margin: 1.3rem 0 0 4.5rem;
}
@media (min-width: 768px) {
    ul.cover-service__item-list li {
        width: 42.3rem;
        height: 6.9rem;
        font-size: 2.8rem;
        margin: 2rem 0 0 2rem;
        padding-top: .8rem;
    }
}
@media (min-width: 768px) {
    ul.cover-service__item-list li:nth-child(2) {
        letter-spacing: -.01rem;
    }
    ul.cover-service__item-list li:nth-child(3) {
        letter-spacing: -.15rem;
    }
}

/* present「3回プレゼント」 */
.present__container {
    background-color: #fffedd;
    margin-inline: auto;
    height: 19.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .present__container {
        height: 31.5rem;
        margin-bottom: 1.4rem;
    }
}
.present__item--top {
    font-size: 2.1rem;
    font-weight: 400;
    color: #fa7da3;
    margin: 1.5rem 0 .5rem;
    display: flex;
    column-gap: .7rem;
    align-items: center;
    margin: 1.5rem 0 .4rem;
}
@media (min-width: 768px) {
    .present__item--top {
        font-size: 3.4rem;
        margin: 3.4rem 0 0 .4rem;
    }
    .present__item--top span {
        padding: 0 1.2rem;
    }
}
.present__item--top p {
    margin-bottom: .5rem;
}
.backslash,
.slash {
    height: 2.4rem;
    padding-left: .1rem;
}
.backslash img,
.slash img {
    width: 100%;
}
@media (min-width: 768px) {
    .backslash {
        height: 4rem;
    }
    .slash {
        height: 4rem;
        margin-left: -1rem;
    }
}
.present__box--top {
    background-color: #fa7da3;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 35.1rem;
    height: 3.1rem;
    margin-left: .2rem;
}
@media (min-width: 768px) {
    .present__box--top {
        width: 55rem;
        height: 4.7rem;
        margin: .6rem 0 0 .2rem;
    }
}
.present__box--top p {
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    padding-top: .4rem;
}
@media (min-width: 768px) {
    .present__box--top p {
        font-size: 3.2rem;
        padding: .7rem .4rem 0 0;
    }
}
.present__box--bottom {
    border-style: solid;
    border-width: .1rem;
    border-color: #fa7da3;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 35.1rem;
    height: 6.2rem;
    background-color: #fff;
    margin-left: .2rem;
}
@media (min-width: 768px) {
    .present__box--bottom {
        width: 55rem;
        height: 10.1rem;
    }
}
.present__box--bottom p {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1;
    color: #fa7da3;
    text-align: center;
    padding: .6rem 0 0 1rem;
}
@media (min-width: 768px) {
    .present__box--bottom p {
        font-size: 6.793rem;
        padding: 1.2rem 0 0 1.6rem;
    }
}
.present__box--bottom span {
    font-size: 2.7rem;
    font-weight: 400;
}
@media (min-width: 768px) {
    .present__box--bottom span {
        font-size: 4.367rem;
    }
}
.present__item--bottom {
    font-size: 1rem;
    font-weight: 400;
    padding: .7rem .2rem 0 0;
    letter-spacing: .02rem;
}
@media (min-width: 768px) {
    .present__item--bottom {
        font-size: 1.4rem;
        padding-top: 1.5rem;
    }
}

/* free-promotion ボタン「無料体験実施中」*/
.free-promotion__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.free-promotion__item {
    font-size: 2.1rem;
    font-weight: 600;
    color: #fa7da3;
    text-align: center;
    letter-spacing: .21rem;
    padding: 1rem 0 .65rem 1rem;
}
@media (min-width: 768px) {
    .free-promotion__item {
        font-size: 3.4rem;
        letter-spacing: .34rem;
        padding: 3.4rem 0 0 1.5rem;
    }
}
.button-reservation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #49c43d;
    border-radius: 4rem;
    width: 35rem;
    height: 8rem;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.35;
    letter-spacing: .21rem;
    padding-top: 1rem;
}
@media (min-width: 768px) {
    .button-reservation {
        border-radius: 6.505rem;
        width: 57.058rem;
        height: 13.01rem;
        font-size: 3.4rem;
        line-height: 1.3;
        letter-spacing: .34rem;
        margin-top: .9rem;
        transition: .4s;
    }
}
.button-reservation__item {
    padding-left: 3.8rem;
}
@media (min-width: 768px) {
    .button-reservation__item {
        padding: .9rem 0 0 7rem;
    }
}
.button-reservation-arrow {
    width: 1.3rem;
    height: 1.9rem;
    margin: 2rem 0 0 2.7rem;
}
@media (min-width: 768px) {
    .button-reservation-arrow {
        width: 2rem;
        height: 3.1rem;
        margin: 4rem 0 0 4.6rem;
    }
}
.button-reservation-arrow img {
    width: 100%;
}
@media (min-width: 768px) {
    .button-reservation:hover {
        background-color: #40e02f;
    }
}

/* free-detail「無料体験内容」 */
.free-detail__title {
    border-top: .1rem #50bfff solid;
    border-bottom: .1rem #50bfff solid;
    width: 35rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #50bfff;
    letter-spacing: .17rem;
    text-align: center;
    padding: .5rem 0;
    margin: 2.9rem auto .9rem;
}
@media (min-width: 768px) {
    .free-detail__title {
        border-top: .2rem #50bfff solid;
        border-bottom: .2rem #50bfff solid;
        width: 57.1rem;
        font-size: 2.8rem;
        line-height: 1.9;
        letter-spacing: .28rem;
        margin: 4.5rem auto 1.5rem;
    }
}
@media (min-width: 768px) {
    .free-detail__title {
        display: flex;
        flex-direction: column;
        width: 63rem;
        justify-content: center;
        margin-inline: auto;
        padding-left: .5rem;
    }
}
@media (min-width: 768px) {
    .free-detail__item {
        width: 62.2rem;
        margin-inline: auto;
    }
}
.free-detail__item p {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -.01rem;
    margin-left: 2.2rem;
}
@media (min-width: 768px) {
    .free-detail__item p {
        font-size: 2.286rem;
    }
}
.free-detail__item span {
    font-size: 1.1rem;
}
@media (min-width: 768px) {
    .free-detail__item span {
        font-size: 1.796rem;
    }
}

/* point「3つのポイント」 */
.point__container {
    display: flex;
    flex-direction: column;
    background-color: #fdf0f5;
    align-items: center;
    margin: 3.5rem auto 1.2rem;
    padding: 0 1.85rem 0 2.15rem;
}
@media (min-width: 768px) {
    .point__container {
        margin: 5.5rem 0 1.5rem;
    }
}
.point__subtitle {
    display: flex;
    text-align: center;
    padding-top: 3rem;
}
@media (min-width: 768px) {
    .point__subtitle {
        padding-top: 4.2rem;
    }
}
.point__subtitle p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #4d2b1b;
    letter-spacing: .072rem;
}
@media (min-width: 768px) {
    .point__subtitle p {
        font-size: 1.807rem;
        letter-spacing: .07rem;
        margin-top: .2rem;
    }
}
.point__subtitle-item {
    width: 19.6rem;
    margin: .4rem .4rem 0 .4rem;
}
@media (min-width: 768px) {
    .point__subtitle-item {
        width: 26.3rem;
        margin: .4rem .4rem 0 .4rem;
    }
}
/* section(point,course,voice) 共通タイトル */
.section__title {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    justify-content: center;
}
@media (min-width: 768px) {
    .section__title {
        margin-top: 1.1rem;
    }
}
/* section title item(point,course,voice) 共通 */
.section__title-item {
    width: 3.7rem;
}
@media (min-width: 768px) {
    .section__title-item {
        width: 5rem;
    }
}
.section__title-item img {
    width: 100%;
}
/* point01,02,03 共通タイトル */
.point__title {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fa7da3;
    line-height: 1;
    letter-spacing: .128rem;
    padding: .6rem 0 0 .3rem;
    margin: 0 -.3rem 0 -.1rem;
}
@media (min-width: 768px) {
    .point__title {
        font-size: 4.2rem;
        letter-spacing: 0;
        margin: 0 .5rem;
        padding: .6rem 0 0 .1rem;
    }
}
/* point01,02,03 共通 box top */
.point__box--top {
    background-color: #fa7da3;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 35rem;
    height: 4.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-top: .7rem;
}
@media (min-width: 768px) {
    .point__box--top {
        width: 78rem;
        height: 7.4rem;
        font-size: 2.8rem;
        padding: 1.2rem .2rem 0 0;
    }
}
.point__box--top span {
    margin: 0 1.05rem 0 1.1rem;
}
@media (min-width: 768px) {
    .point__box--top span {
        margin: 0 1.65rem 0 1.65rem;
    }
}
/* point01 */
.point01__box {
    margin-top: 2.4rem;
}
@media (min-width: 768px) {
    .point01__box {
        margin-top: 4.5rem;
    }
}
.point01__box--bottom {
    border: .1rem #fa7da3 solid;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 35rem;
    height: 19.7rem;
    background-color: #fff;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .point01__box--bottom {
        width: 78rem;
        height: 29.4rem;
    }
}
.point01__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    letter-spacing: .06rem;
    font-feature-settings: "palt";
    padding: 1.5rem 2rem 1rem 2rem;
}
@media (min-width: 768px) {
    .point01__text {
        font-size: 2.1rem;
        line-height: 1.75;
        padding: 2.1rem 2.6rem 0 4.1rem;
        letter-spacing: 0;
        font-feature-settings: unset;
    }
}
.point01__item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.2rem;
    margin: .2rem .2rem 0 0;
}
@media (min-width: 768px) {
    .point01__item {
        column-gap: 4.1rem;
        margin: 2.1rem 0 0 .1rem;
    }
}
.point01__item--left {
    border: .1rem #fa7da3 solid;
    width: 14.25rem;
    height: 8.5rem;
    text-align: center;
    padding: 2.1rem 0 0 .5rem;
}
@media (min-width: 768px) {
    .point01__item--left {
        width: 23.2rem;
        height: 13.7rem;
        padding: 3.4rem 0 0 .7rem;
    }
}
.point__logo {
    width: 7.1rem;
    margin-right: .2rem;
}
@media (min-width: 768px) {
    .point__logo {
        width: 11.6rem;
        margin-right: .2rem;
    }
}
.point__logo img {
    width: 100%;
}
.point01__item--right {
    border: .1rem #666 solid;
    background-color: #fdf0f5;
    width: 14.25rem;
    height: 8.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    color: #433e3f;
    letter-spacing: .13rem;
    padding: 2.7rem 0 0 .1rem;
}
@media (min-width: 768px) {
    .point01__item--right {
        width: 23.2rem;
        height: 13.7rem;
        background-color: #fff;
        font-size: 2.903rem;
        padding: 4.4rem 0 0 .3rem;
    }
}
.point01__item-caption {
    display: flex;
    justify-content: center;
    column-gap: 5.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    margin: .5rem .25rem 0 0;
}
@media (min-width: 768px) {
    .point01__item-caption {
        column-gap: 10.2rem;
        font-size: 2.1rem;
        margin: 1rem 0 0 0;
    }
}
/* point02 */
.point02__box {
    margin-top: 3.2rem;
}
@media (min-width: 768px) {
    .point02__box {
        margin-top: 5rem;
    }
}
.point02__box--bottom {
    border: .1rem #fa7da3 solid;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 35rem;
    background-color: #fff;
    text-align: center;
    padding-bottom: 1.5rem;
}
@media (min-width: 768px) {
    .point02__box--bottom {
        width: 78rem;
        height: 104.2rem;
    }
}
.point02__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 1.5rem 2rem 1rem 2rem;
}
@media (min-width: 768px) {
    .point02__text {
        font-size: 2.1rem;
        line-height: 1.75;
        padding: 2.1rem 2.6rem 0 4.1rem;
        line-height: 1.65;
        padding: 2.4rem 2.6rem 0 4rem;
    }
}
.point02__item-body-title {
    font-size: 2.3rem;
    font-weight: 600;
    color: #4d2c1c;
    text-align: center;
    padding: .7rem 0 2.1rem;
}
@media (min-width: 768px) {
    .point02__item-body-title {
        font-size: 2.4rem;
        padding: 1.6rem 0 1.6rem 0;
    }
}
.point02__item-parts-title {
    font-size: 2.3rem;
    font-weight: 600;
    color: #4d2c1c;
    text-align: center;
    padding: 1.8rem 0 2.4rem;
}
@media (min-width: 768px) {
    .point02__item-parts-title {
        font-size: 2.4rem;
        padding: 2.7rem 0 2.4rem;
    }
}
.body-plan {
    width: 31.1rem;
    text-align: center;
    margin-inline: auto;
    padding-bottom: 2.2rem;
}
@media (min-width: 768px) {
    .body-plan {
        width: 55.8rem;
        margin-left: 12.2rem;
        padding-bottom: 2.2rem;
    }
}
.body-plan img {
    width: 100%;
}
.parts-plan {
    width: 10rem;
    margin-inline: auto;
}
@media (min-width: 768px) {
    .parts-plan {
        width: 10.1rem;
    }
}
.parts-plan img {
    width: 100%;
}
.point02__item-parts-wrap {
    display: grid;
    grid-template-columns: repeat(3,10rem);
    gap: 1.7rem 1.2rem;
    justify-content: center;
    margin-right: .1rem;
}
@media (min-width: 768px) {
    .point02__item-parts-wrap {
        grid-template-columns: repeat(6,10.1rem);
        gap: 1.1rem;
    }
}
.point02__item-parts-plan p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fa7da3;
    margin: .1rem .1rem 0 0;
}

/* point03 */
.point03__box {
    margin-top: 3rem;
}
@media (min-width: 768px) {
    .point03__box {
        margin-top: 4.9rem;
    }
}
.point03__box--bottom {
    border: .1rem #fa7da3 solid;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 7.5rem;
    background-color: #fff;
    text-align: center;
    margin-bottom: 3rem;
}
@media (min-width: 768px) {
    .point03__box--bottom {
        width: 78rem;
        height: 8.7rem;
        margin-bottom: 6.1rem
    }
}
.point03__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: 1.5rem 2rem 1rem 2rem;
    padding-top: 1.45rem;
}
@media (min-width: 768px) {
    .point03__text {
        font-size: 2.1rem;
        line-height: 1.75;
        padding: 2.1rem 2.6rem 0 4.1rem;
        padding-top: 2.2rem;
    }
}

/* course「2つのコース」 */
.course__container {
    margin-inline: auto;
    margin-top: 1rem;
    padding: 0 1.85rem 0 2.15rem;
}
@media (min-width: 768px) {
    .course__container {
        margin-top: .6rem;
    }
}
.course__subtitle {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
    padding: 3rem 0 0 .5rem;
}
@media (min-width: 768px) {
    .course__subtitle {
        font-size: 2.4rem;
        padding: 4rem 0 0 .5rem;
    }
}
.section02__title {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    justify-content: center;
}
@media (min-width: 768px) {
    .section02__title {
        margin-top: .6rem;
    }
}
.course__title {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fa7da3;
    line-height: 1;
    padding: .6rem .9rem 0 .8rem;
}
@media (min-width: 768px) {
    .course__title {
        font-size: 4.2rem;
        padding: 1.1rem 1.3rem 0 1.2rem;
    }
}
.course__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}
@media (min-width: 768px) {
    .course__box {
        display: flex;
        flex-direction: row;
        column-gap: 3.1rem;
        margin-inline: auto;
        justify-content: center;
        margin-top: 1.6rem;
    }
}
.course__box--top {
    background-color: #fdf0f5;
    border: .1rem #fa7da3 solid;
    border-bottom: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 4.75rem;
    text-align: center;
    margin-top: 2.3rem;
}
@media (min-width: 768px) {
    .course__box--top {
        width: 35rem;
        height: 5.6rem;
        margin-top: 2.3rem;
    }
}
.course__box-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fa7da3;
    text-align: center;
    padding: .6rem .3rem 0 0;
}
@media (min-width: 768px) {
    .course__box-title {
        font-size: 2.8rem;
        font-weight: 400;
        padding: .6rem .3rem 0 0;
    }
}
.course__box--bottom {
    border: .1rem #fa7da3 solid;
    border-top: none;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #fff;
    text-align: center;
    height: 29.3rem;
    margin-bottom: .9rem;
}
@media (min-width: 768px) {
    .course__box--bottom {
        width: 35rem;
        height: 30.9rem;
        margin-bottom: 0;
    }
}
.course__box-text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .01rem;
    text-align: left;
    padding: 1.2rem 1.3rem 1.3rem 1.9rem;
}
@media (min-width: 768px) {
    .course__box-text {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.555;
        letter-spacing: -.03rem;
        text-align: left;
        padding: 1.4rem 1.4rem 1.1rem 1.7rem;
    }
}
.course__box-item {
    width: 31rem;
    text-align: center;
    margin-inline: auto;
    padding-bottom: 2.2rem;
}
.course__box-item img {
    width: 100%;
}

/* voice「お客様の声」*/
.voice__container {
    height: 33rem;
    background-color: #fdf0f5;
    text-align: center;
    margin: 1.3rem auto 1.6rem;
}
@media (min-width: 768px) {
    .voice__container {
        height: 39.5rem;
        margin: 6.5rem auto 2.3rem;
    }
}
@media (min-width: 768px) {
    .carousel {
        max-width: 103rem;
        margin-inline: auto;
        margin-top: 1.8rem;
    }
}
.section03__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .5rem;
    padding-top: 2.7rem;
}
@media (min-width: 768px) {
    .section03__title {
        padding-top: 3.5rem;
    }
}
.voice__title {
    font-size: 3.2rem;
    font-weight: 700;
    color: #fa7da3;
    line-height: 1;
    padding: .5rem 2.1rem 0 1.8rem;
    margin: 0 -.3rem 0 -.1rem;
}
@media (min-width: 768px) {
    .voice__title {
        font-size: 4.2rem;
        padding: 1rem 2.6rem 0 2.3rem;
        margin: 0;
    }
}
.voice__box--top {
    background-color: #fa7da3;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 31rem;
    height: 4.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: .6rem 0 0 .2rem;
    margin: 1.9rem auto 0;
}
.voice__box--bottom {
    border: .1rem #fa7da3 solid;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 31rem;
    height: 14.2rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
}
.voice__box--bottom-left {
    width: 11.9rem;
}
.voice01__item {
    width: 7.8rem;
    margin: 1.2rem 0 0 2.2rem;
}
.voice02__item {
    width: 8.6rem;
    margin: 1.4rem 0 0 1.8rem;
}
.voice03__item {
    width: 6.7rem;
    margin: 1.2rem 0 0 2.9rem;
}
.voice01__item img,
.voice02__item img,
.voice03__item img {
    width: 100%;
}
.voice__box--bottom-raight {
    width: 19rem;
}
.voice__item-customer {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fa7da3;
    text-align: left;
    padding: 1.3rem 0 0 .1rem;
}
.voice__item-customer span {
    padding: 0 .3rem 0;
}
.voice__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    padding: .4rem 1rem 0 .1rem;
}
.slick-dots {
    bottom: -4rem;
}
.slick-dots li {
    width: 3rem;
    height: 2.1rem;
    margin-inline: auto;
}
.slick-dotted {
    margin-bottom: 5rem;
}
.slick-dots li button:before {
    width: 2rem;
    height: 2rem;
    color: #ffd2d2;
    font-size: 1.5rem;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    color: #fa7da3;
    opacity: 1;
}
.slick-dots li {
    margin: 0;
}
.footer {
    background-color: #fa7da3;
    margin-top: 4.1rem;
    padding: 1.4rem 0 1.1rem;
}
@media (min-width: 768px) {
    .footer {
        margin-top: 6.3rem;
        padding: 2.8rem 0 2.2rem;
    }
}
.footer__logo {
    width: 7.3rem;
    margin-inline: auto;
}
@media (min-width:768px) {
    .footer__logo {
        width: 14.5rem;
    }
}
.footer__logo img {
    width: 100%;
}